# Solved Python Course Exercises 1

## Q1

In [22]:
7**4

2401

## Q2

In [2]:
##split the string  s="Hi there Yogesh!"

In [3]:
s="Hi there Yogesh!"

In [4]:
s.split()

['Hi', 'there', 'Yogesh!']

## Q3

In [2]:
planet = "Earth"
diameter = 12742

In [3]:
"the diameter of {} is {} kilometer".format(planet,diameter)

'the diameter of Earth is 12742 kilometer'

## Q4   Given this nested list, use indexing to grab the word "hello"

In [2]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [3]:
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [4]:
lst[3]

[5, [100, 200, ['hello']], 23, 11]

In [5]:
lst[3][1]

[100, 200, ['hello']]

In [6]:
lst[3][1][2]

['hello']

## Q5  ** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [13]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [14]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [19]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [20]:
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [21]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

## Q6

In [ ]:
** What is the main difference between a tuple and a list? **

In [ ]:
#TUPLE IS IMMUTABLE

### Q7 ** Create a function that grabs the email website domain from a string in the form: **

### user@domain.com
### So for example, passing "user@domain.com" would return: domain.com

In [8]:
def domsplit(s):
    d=s.split('@')
    print(d[1])

In [9]:
domsplit('deepali.salapurkar@gmail.com')

gmail.com

## OR

In [5]:
def my_fun2(email):
    return email.split("@")[-1]

In [6]:
my_fun2("deep@gmail.com")

'gmail.com'

### Q8 : * Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

â€‹

In [6]:
def fun_dog(s):
    if 'dog' in s.lower():
        return True
    else :
        return False

In [10]:
fun_dog("Is there a DOGCAT?")

True

In [8]:
fun_dog("Is there a Dog?")

True

### Q9 ** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [24]:
def fun_dog_count(s):
    c=0
    for i in s.lower().split():
        if  i== 'dog':
            c=c+1
    return c

In [34]:
fun_dog_count('how many real dog as dog , dogg are here?')

2

In [27]:
def find_dog(s):
    if 'dog' in s:
        return True
    else:
        return  False

In [28]:
find_dog("is dog there?")

True

In [57]:
def find_dog(s):
    if 'dog' in s.lower().split():
        return True
    else:
        return  False

In [58]:
find_dog('this is Dog')

True

In [59]:
def find_dog(s):
    return 'dog' in s.lower().split()

In [60]:
find_dog('this is Dog')

True

In [61]:
def find_dog(s):
    return 'dog' in s.lower()

In [62]:
find_dog('dog!!!')

True

In [63]:
def find_dog(s):
    return 'dog' in s.lower().split()

In [64]:
find_dog('Dogg')

False

In [21]:
def count_dog(s):
    c=0
    for i in s.lower().split()
        if i == 'dog':
            c=c+1
    return c

In [23]:
count_dog("how many time the dog present in dog string dog")

3

In [74]:
def count_dog1(s):
    count=0
    for i in s.lower().split():
        if i=='dog':
            count=count+1
    return count

In [75]:
count_dog1('this dog that Dog dog')

3

### Q10 Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [1]:
seq1=['tiger','lion','dog','cat','donkey','deer']

In [2]:
seq1

['tiger', 'lion', 'dog', 'cat', 'donkey', 'deer']

In [3]:
d=lambda v:v[0]!= 'd'

In [4]:
d

In [5]:
list(map(d,seq1))

[True, True, False, True, False, False]

In [6]:
filter(d,seq1)

In [7]:
list(filter(d,seq1))

['tiger', 'lion', 'cat']

### Q11 Final Problem
*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [85]:
def pay_ticket(speed,birthday):
    if birthday== True:
        #speed+=5
        if speed <=65:
            return "No Ticket"
        elif speed >65 and speed <85 :
            return "Small Ticket"
        else:
            return "Big Ticket"
    else:
        if speed<=60 :
            return "No Ticket"
        elif speed >=61 and speed<81 :
            return "Small Ticket"
        else:
            return "Big Ticket"

In [98]:
pay_ticket(81,True)

'Small Ticket'

### Q12
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->5678

In [12]:
s="Deepali23"
print(s)
type(s)

Deepali23

str

In [5]:
s=input("Enter the string")
st=" "
a=['0','1','2','3','4','5','6','7','8','9']
if s[0]=='_':
    st= st + s[0]
for i in s:
    if i in a:
        st= st+ i
print(st)

Enter the stringdeepali34-fds22
 3422

### Q13
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [2]:
num1=input("enter a number")
num2=num1[::-1]
num3=int(num1)+int(num2)
print("Number is", num3)
print("Reverse Number is",str(num3)[::-1] )
while str(num3)!=str(num3)[::-1] :
    num3=int(num3)+ int(str(num3)[::-1])
    print("Number is", num3)
    print("Reverse Number is",str(num3)[::-1] )
print("Palidrome",num3)

enter a number43456
Number is 108890
Reverse Number is 098801
Number is 207691
Reverse Number is 196702
Number is 404393
Reverse Number is 393404
Number is 797797
Reverse Number is 797797
Palidrome 797797

###  Q14  Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [23]:
num1= input("Enter 5 digit number")
print(num1[0])
if int(num1[0])== int(num1[1])+2 and int(num1[1])==int(num1[2])+2 and int(num1[3])==int(num1[2])-2 and int(num1[4])== int(num1[3])+2 :
                if int(num1[2])+ int(num1[3])+int(num1[4])== int(num1[0]):
                                       sum=int(num1[0])+ int(num1[1])+int(num1[2])+int(num1[3])+int(num1[4])
                                       if sum== 19:
                                           print("num=",num1)
                                       else:  
                                           print("Invalid no.3")
                else:                          
                                       print("Invalid no.2")
else:                         
    print("Invalid no.1")

Enter 5 digit number75313
7
num= 75313